.env
node_modules/
.agent
dist
dist/
build/
release/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
.idea/
*.log
*.tsbuildinfo

tests/
test-results/
playwright.config.ts
playwright-report/
test-data-*

/src/generated/prisma
