.env
node_modules/
.agent
.agents
dist
dist/
build/
release/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
.idea/
*.log
*.tsbuildinfo

tests/
test-results/
playwright.config.ts
playwright-report/
test-data-*

/src/generated/prisma
#net
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates
#net crash/dumps
*.suo
*.userprefs